.home {
  height: 92.3vh;
  min-height: 1024px;
  position: relative;
  .main-container {
    display: flex;
    flex-direction: row;
    column-gap: 31px;
    position: absolute;
    top: 325px;
    left: 226px;

    .side-icon-container {
      width: 259px;
      display: flex;
      flex-direction: column;
      gap: 39px;
    }
    .graf-container {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      .sub-container {
        display: flex;
        flex-direction: row;
        column-gap: 30px;
      }
    }
  }
}
